* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
}
#home {
  flex-direction: column;
  display: flex;
  background-color: white;
}
#nav {
  display: flex;
  padding: 0.5rem;
  position: fixed;
  bottom: 10px;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  border-radius: 24px;
  align-self: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#top {
  position: fixed;
  top: 0;
  justify-content: flex-end;
  display: flex;
  font-weight: bold;
  font-family: sans-serif;
  padding: 1rem;
  width: 100%;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: blur(20px);
}
#content {
  overflow: auto;
  align-items: center;
  display: flex;
  padding-top: 65px;
  flex-direction: column;
}
.box {
  width: 100%;
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.det{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}
#img {
  height: 75%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
}
.q{
  border-bottom: 2px solid red;
}
.w{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}