*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.14), gray);
}
/*Desktop view*/
.mobile-view{
    display: none;
}
.desktop-view{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.desktop-view .main-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70%;
    background-size: cover;
    background-color: black;
    background-image: url(Bg.webp);
    border-radius: 30px;
    transition: 0.6s all;
}
.desktop-view .main-view:hover{
    transition: 0.6s;
    opacity: 0.8;
    background-position: center;
}
.desktop-view #time{
    font-size: 120px;
    font-family: fantasy;
    background: linear-gradient(to right, rgb(0, 0, 0) 50%, gray 50%, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.desktop-view #date{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.desktop-view .login-section{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70%;
    background-image: url(loginsec.jpeg);
    background-position: center;
    background-size: cover;
    gap: 10px;
    background-color: white;
    border-radius: 30px;
    transition: 0.6s all;
}
.login-section img{
    border-radius: 50%;
}
.login-section [type="text"], [type="password"]{
    width: 22rem;
    border: none;
    padding: 12px;
    background-color: rgba(128, 128, 128, 0.155);
    border-radius: 15px;
}
.login-section [type="submit"]{
    border: none;
    padding: 9px 20px;
    background-color: black;
    color: white;
    border-radius: 15px;
}
.login-section [type="submit"]:hover{
    background-color: rgba(128, 128, 128, 0.299);
    color: black;
}
.login-section [type="text"]:focus, [type="password"]:focus{
    border: 1px solid rgba(0, 0, 0, 0.642);
    outline: none;
}
#form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.movie-section{
    position: relative;
    display: none;
    flex-direction: column;
    height: 80vh;
    width: 70%;
    background-color: whitesmoke;
    border-radius: 30px;
    transition: 0.6s all;
}
.nav{
    display: grid;
    width:100%;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    border-bottom: 1px solid black;
}
.name-sec{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.name-sec p{
    background: linear-gradient(to right, rgb(0, 0, 0) 50%, gray 50%, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-family: fantasy;   
}
.search-sec{
    display: flex;
    justify-content: center;
    align-self: center;
}
.search-sec input{
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(128, 128, 128, 0.532);
    padding: 5px;
}
.search-sec input:focus{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.758);
}
.leave{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
}
.leave img{
    cursor: pointer;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    max-height: 100%;
    padding: 20px;
}
.movie-box{
    flex: 1 1 180px;
    max-width: 180px;
    position: relative;
    padding: 10px;
    height: 280px;
    width: 200px;
    background-image: url(silent\ voice.jpeg);
    border-radius: 10px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    text-align: center;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    color: white;
}
.overlay:hover{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.overlay #movie-name{
    font-size: 20px;
}
.action{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8px;
}
.uploader{
    font-size: 12px;
}
#add{
    position: absolute;
    bottom: 30px;
    right: 30px;
    transition: all 0.3s ease-in-out;
}
#add:hover{
    height: 32px;
    width: 32px;
    transition: 0.3s ease-in-out;
}
.upload-box{
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.374);
    width: 400px;
    backdrop-filter: blur(20px);
    height: 250px;
    border-radius: 15px;
    bottom: 70px;
    right: 50px;
}
.upload-box input{
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.389);
    padding: 8px;
    border-radius: 10px;  
}
.upload-box p{
    font-size: 20px;
    font-family: cursive;
}
.upload-box button{
    padding: 4px 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.389);
}
.hidden{
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}














/*mobile view*/
@media(max-width: 768px){
    body{
        background: white;
        overflow: hidden;
    }
    .mobile-view{
        display: block;
        height: 100vh;
    }
    .main-view{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .mobile-view .Logo-section{
        height: 50%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Logo-section p{
        font-size: 2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    .button-section{
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button-section p{
        padding: 1em 4em;
        font-size: 1em;
        color: white;
        background-color: black;
        border-radius: 25px;
    }
    .desktop-view{
        display: none;
    }
}