*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    background-image: url(loginsec.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex-direction: column;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
#top{
    font-size: 250px;
    font-weight: bold;
    font-family: monospace;
}
#sub{
    font-size: 20px;
    font-family: monospace;
}
#loginbtn{
    padding: 10px 50px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid transparent;
    transition: 0.4s;
}
#loginbtn:hover{
    background-color: transparent;
    color: black;
    border: 1px solid gray;
}
#btn{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn a{
    color: blue;
    text-decoration: none;
}
#login{
    display: none;
    height: 100vh;
}