* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#home {
  flex-direction: column;
  display: flex;
  background-color: black;
}
#nav {
  display: flex;
  padding: 0.4rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  background: rgba(0, 0, 0, 1);
  transition: 0.4s;
}
i{
  font-size: 1.7em;
  color: white;
}
#top {
  position: fixed;
  top: 0;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
}
#top i{
  justify-self: flex-end;
}
#content {
  overflow: auto;
  align-items: center;
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  flex-wrap: wrap;
}
.box {
  width: 100%;
  display: flex;
  height: 280px;
  flex-direction: column;
  align-items: center;
}
.det{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}
#img {
  height: 75%;
  border-radius: 0px 0px 0px 0px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
}
.q{
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.w{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6px 14px;
}
.w p{
  font-size: 0.8em;
}