* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}
#home{
  height: 100vh;
  flex-direction: column;
  display: flex;
  background-color: black;
}
#nav{
  display: flex;
  padding: 1.6rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
  align-self: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-top: 1px solid rgba(255, 255, 255, 0.466);
}
#top{
  display: flex;
  height: 20%;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}
#content{
  overflow: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;  
  padding-top: 10px;
}
.box{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 250px;
}
#img{
  border-radius: 10px 10px 0px 0px;
  height: 75%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
}