* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  color: white;
}
#home {
  flex-direction: column;
  display: flex;
  background-color: black;
}
#nav {
  display: flex;
  padding: 1.8rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
  align-self: center;
  background: black;
  border-top: 1px solid rgba(255, 255, 255, 0.466);
}
#top {
  position: fixed;
  top: 0;
  display: flex;
  padding: 30px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.466);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
#content {
  overflow: auto;
  align-items: center;
  display: flex;
  padding-top: 65px;
  flex-direction: column;
  gap: 10px;
}
.box {
  width: 100%;
  display: flex;
  height: 250px;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.det{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
#img {
  height: 80%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
}
